{% extends "base.html" %}

{% block main %}
<div class="twPc-div">
    <a class="twPc-bg twPc-block"></a>

	<div>
		<div class="twPc-button">
            <!-- Twitter Button -->
            <a href="https://twitter.com/superrcoop" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false" data-dnt="true">Follow @superrcoop</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            <!-- Twitter Button -->   
		</div>

		<a title="Cooper" href="https://twitter.com/superrcoop" class="twPc-avatarLink">
			<img alt="image-cooper" src="{{ url_for('static', filename = '../static/images/image.jpg') }}" class="twPc-avatarImg">
		</a>

		<div class="twPc-divUser">
			<div class="twPc-divName">
				<a href="https://twitter.com/superrcoop">Jordan Cooper</a>
			</div>
			<span>
				<a href="https://twitter.com/superrcoop">@<span>superrcoop</span></a>
				<p class="join"> Joined: {{time}}</p>
			</span>
		</div>

		<div class="twPc-divStats">
			<ul class="twPc-Arrange">
				<li class="twPc-ArrangeSizeFit">
					<a href="#" >
						<span class="twPc-StatLabel twPc-block">Posts</span>
						<span class="twPc-StatValue">9.3k</span>
					</a>
				</li>
				<li class="twPc-ArrangeSizeFit">
					<a href="#">
						<span class="twPc-StatLabel twPc-block">Following</span>
						<span class="twPc-StatValue">0</span>
					</a>
				</li>
				<li class="twPc-ArrangeSizeFit">
					<a href="#">
						<span class="twPc-StatLabel twPc-block">Followers</span>
						<span class="twPc-StatValue">1.8K</span>
					</a>
				</li>
			</ul>
		</div>
		<p class="bio"><strong>Bio: </strong><br>
                        She say do you love me ? i tell her only partly, i only love my bed and my mama - im sorry. #GOdsPLAN</p>
	</div>
</div>
{% endblock %}